NODE_ENV=development
APP_NAME=BuMIS
APP_PORT=3001

DB_TYPE=mssql
DB_HOST=localhost
DB_PORT=
DB_INSTANCE=SQLEXP2022
DB_NAME=BuMIS
DB_USERNAME=Benedict ACT
DB_PASSWORD=replace-me
DB_TRUST_SERVER_CERTIFICATE=true
DB_ENCRYPT=false
DB_SYNCHRONIZE=false
DB_LOGGING=true

JWT_ACCESS_SECRET=change-me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change-me-too
JWT_REFRESH_EXPIRES_IN=7d

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM="BuMIS <no-reply@bumis.local>"
